{% load static %}
<html>
  <head>
    <title>Jongmin's blog</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h1><a href="">Jongmin's blog</a></h1>
    </div>
    <br />
    {% for post in posts %}
    <div>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>published: {{ post.published_date }}</p>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
  </body>
</html>
